*{ 
    text-align: center;
    background-color:rgb(213, 212, 256);
}
.title-text{
    font-size: large;
    margin-top:80px;
    text-shadow: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}
.track{
    width: 250px;
    height: 250px;margin:1px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    cursor: pointer;
}
.track-image{
    width: 250px;
    height: 250px;
}
.track-text{
    position:absolute;width:240px;bottom:0px;
    background-color: midnightblue;
    color:mistyrose;padding: 5px;
}
.track-icon{
    background-color: rgb(68, 49, 49);
    color: rgb(19, 18, 18);
    padding:15px;
    position: absolute;
    bottom: 100px;
    left:100px;
    border-radius: 25px;
    opacity: 0.8;
    width: 30px;
    height:30px;
    font-size: 30px;
}